extends layout.pug

block content
    each item in items
        h2 #[a(href='/blog/' + item['id']) #{item['subject']}]
        - var date = new Date(item['datestamp'] * 1000);
        div.blogdate #{date.toLocaleDateString()}

        div.blogarticle !{item['body']}

    - var prev = 0
    - var next = skip + 10
    - if (skip > 0) prev = skip - 10
    - if (prev < 0) prev = 0

    div.blognext #[a(href='/blog/?skip=' + next) Older Articles &gt;&gt; ]
    div.blogprev #[a(href='/blog/?skip=' + prev) &lt;&lt; Newer Articles]
