extends layout.pug

block content
    div.emailheader
        div.emailsubject Subject: #{data['subject']}
        div.emailsender Sender: #{data['sender']}
        - var date = new Date(data['date'] * 1000).toLocaleString()
        div.emaildate Date: #{date}

    div.emailarticle !{data['body'].toString().replace(/\r/g, "<br />")}

    div.button
        a(href="/email/reply/" + data['id']) Reply
    div.button
        a(href="/email/delete/" + data['id']) Delete
