extends layout.pug

block content
    h2 Email
    
    .button 
        a(href="/email/new") Send an Email

    center
        table
            thead
                tr
                    th id
                    th Subject
                    th Sender
                    th Date
            tbody
                each item in data
                    - var date = new Date(item['date'] * 1000).toLocaleString()
                    - if (item['seen'] == 1) {
                        tr.seen
                            td #{item['id']}
                            td #[a(href="/email/" + item['id']) #{item['subject']}]
                            td #{item['sender']}
                            td #{date}
                    - } else {
                        tr.unseen
                            td #{item['id']}
                            td #[a(href="/email/" + item['id']) #{item['subject']}]
                            td #{item['sender']}
                            td #{date}
                    - }
        