extends layout.pug

block content
    h2 File Bases 

    center 
        table 
            each item in confs
                thead
                    tr 
                        th #{item['name']}
                        th Total
                tbody
                    each area in item['areas']
                        tr.filearea 
                            td.filearea #[a(href="/filebase/"+item['index']+"/"+area['index']) #{area['name']}]
                            td.filearea #{area['files']}
