extends layout.pug

block content
    h2 Last 10 Callers
    center
        table
            thead
                tr
                    th Call #
                    th Node
                    th Username
                    th Time On
                    th Time Off
                    th U
                    th D
                    th M
                    th X
            tbody
                each item in data
                    - var timeon = new Date(item['timeon'] * 1000).toLocaleTimeString([], {timeStyle: 'short'})
                    - var dateon = new Date(item['timeon'] * 1000).toLocaleDateString()
                    - var timeoff = new Date(item['timeoff'] * 1000).toLocaleTimeString([], {timeStyle: 'short'})
                    - var dateoff = new Date(item['timeoff'] * 1000).toLocaleDateString()
                    - var u = '.'
                    - var d = '.'
                    - var m = '.'
                    - var x = '.'
                    - if (item['upload'] > 0) u = '✓'
                    - if (item['download'] > 0) d = '✓'
                    - if (item['msgpost'] > 0) m = '✓'
                    - if (item['rundoor'] > 0) x = '✓'
                    - if (item['timeon'] == 0) timeon = 'UNKNOWN'
                    - if (item['timeoff'] == 0) timeoff = 'UNKNOWN'
                    - if (item['timeon'] == 0) dateon = ''
                    - if (item['timeoff'] == 0) dateoff = ''

                    tr
                        td #[span.l10callid #{item['id']}]
                        td #[span.l10nodeno #{item['node']}]
                        td #[span.l10username #{item['username']}]
                        td #[span.l10timeon #[span(style='float: right;padding-left:10px') #{timeon}] #{dateon}]
                        td #[span.l10timeoff #[span(style='float: right;padding-left:10px') #{timeoff}] #{dateoff}]
                        td #[span.l10uploads #{u}]
                        td #[span.l10downloads #{d}]
                        td #[span.l10msgposts #{m}]
                        td #[span.l10doorruns #{x}]

