doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title #{title}
        link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Nunito')
        link(rel='stylesheet', href='/style.css')
        script(src="/js/jquery-3.7.1.min.js")
        include extraheaders.pug

    body
        div#page
            block head
                div#header
                    center
                        include pagelogo.pug
                        div#menu
                            span.menuitem #[a(href='/') Home]
                            | 
                            include extramenuitems.pug
                            - if (typeof(username) !== 'undefined'){
                            span.menuitem #[a(href='/logout') Logout] 
                            -} else {
                            span.menuitem #[a(href='/login') Login]
                            -}
                            | 
                        - if (typeof(username) !== 'undefined'){
                            div#usermenu
                                span.usermenuitem #[a(href="/email") Email]
                                | 
                                span.usermenuitem #[a(href="/bulletins") Bulletins]
                                | 
                                span.usermenuitem #[a(href="/msgbase") Messages]
                                | 
                                span.usermenuitem #[a(href="/filebase") Files]
                        - }
            block content
            block foot
                div#footer Copyright &copy; 2021-2024 - Powered by Noddy
