extends layout.pug

block content
    div.login-form
        form(method='POST' action='/login')
            div.login-form-group
                label(for='user') Username
                input.form-control(type='text' id='user' placeholder='user' name='user')
            div.login-form-group
                label(for='password') Password
                input.form-control(type='password' id='password' placeholder='password' name='password')
            div.login-form-submit
                button.btn.btn-primary(type='submit') Log in