extends layout.pug

block content
    h2 #[a(href="/msgbase/") #{confn}] &gt; #[a(href="/msgbase/" + conf + "/" + area) #{arean}] &gt; #{data['header']['subject']}
    div.emailheader
        div.emailsubject Subject: #{data['header']['subject']}
        - if (data['header']['origin'] != 0) {
             div.emailsender Sender: #{data['header']['from']} (#{oaka})
        - } else {
             div.emailsender Sender: #{data['header']['from']}
        - }
        div.emailrecipient Recipient: #{data['header']['to']}
        - var date = new Date(data['header']['date']).toLocaleString()
        div.emaildate Date: #{date}

    div.msgbody !{data['body']}

    - if (prev !== -1) {
        div.button #[a(href="/msgbase/" + conf + "/" + area + "/" + prev) Previous]
    - }
    - if (canwrite) {
        div.button #[a(href="/msgbase/post/" + conf + "/" + area + "/" + data['header']['id']) Reply to Message]
    - }
    - if (next !== -1) {
        div.button #[a(href="/msgbase/" + conf + "/" + area + "/" + next) Next]
    - }
