extends layout.pug

block content
    h2 Message Bases 

    center 
        table 
            each item in confs
                thead
                    tr 
                        th #{item['name']}
                        th Total
                        th New
                tbody
                    each area in item['areas']
                        tr.msgarea
                            - if (area['total'] - area['read'] > 0) {
                                td.msgareasubjnew #[a(href="/msgbase/"+item['index']+"/"+area['index']) #{area['name']}]
                                td.msgareanew #{area['total']}
                                td.msgareanew #{area['total'] - area['read']}
                            - } else {
                                td.msgareasubj #[a(href="/msgbase/"+item['index']+"/"+area['index']) #{area['name']}]
                                td.msgarea #{area['total']}
                                td.msgarea #{area['total'] - area['read']}
                            - }
