extends layout.pug

block content
    h2 #[a(href="/msgbase/") #{confn}] &gt; #{arean} 

    - if (canwrite) {
        div.button #[a(href="/msgbase/post/" + conf + "/" + area) Post a Message]
    - }
    center 
        table 
            thead
                tr 
                    th.msgconf #
                    th.msgconf Subject
                    th.msgconf From 
                    th.msgconf To
                    th.msgconf Date
            tbody
                each item in data
                    tr
                        - if (last >= item['id']) {
                            td.msgarea #{item['id']}
                            td.msgarea #[a(href="/msgbase/" + conf + "/" + area + "/" + item['id']) #{item['subject']}]
                            td.msgarea #{item['from']}
                            td.msgarea #{item['to']}
                            - date = item['date'].toLocaleString()
                            td.msgarea #{date}
                        - } else {
                            td.msgareanew #{item['id']}
                            td.msgareanew #[a(href="/msgbase/" + conf + "/" + area + "/" + item['id']) #{item['subject']}]
                            td.msgareanew #{item['from']}
                            td.msgareanew #{item['to']}
                            - date = item['date'].toLocaleString()
                            td.msgareanew #{date}
                        - }
    - var totalpages = Math.floor(total / 50)
    - if (total % 50) totalpages++

    - if (page > 0) {
        - prev = parseInt(page, 10) - 1
        - if (prev < 0) {prev = 0}
        div.button #[a(href="/msgbase/" + conf + "/" + area + "?page=" + (prev + 1)) Previous]
    - }

    - if (totalpages > 2 && totalpages <= 6) {
        - for (var i = 1; i <= totalpages; i++) {
            - if (i === (page + 1)) {
                .button 
                    div.curpage  #{i}
            - } else {
                div.button #[a(href="/msgbase/" + conf + "/" + area + "?page=" + i) #{i}]
            - }
        - }
    - } else if (totalpages > 6) {
        
        - if (page >= 1) {
            div.button #[a(href="/msgbase/" + conf + "/" + area + "?page=1") 1]
        - }
        - if (page > 6) {
            .button
                div.dotdotdot
            - for (var i = (page > totalpages - 6 ? page - (3 + (page - (totalpages - 6))) : page - 3); i < page + 1; i++) {
                div.button #[a(href="/msgbase/" + conf + "/" + area + "?page=" + i) #{i}]
            - }
        - } else {
            - for (var i = 2; i < page + 1; i++) {
                div.button #[a(href="/msgbasexzx/" + conf + "/" + area + "?page=" + i) #{i}]
            - }
        - }
        .button
            div.curpage #{page + 1} 
        
        - for (var i = page + 2; (page < 7 ? i <= page + 5 + (7 - page) : i <= page + 5) && i < totalpages; i++) {
            div.button #[a(href="/msgbase/" + conf + "/" + area + "?page=" + i) #{i}]
        - }
        - if (page < totalpages - 6) {
            .button
                div.dotdotdot
        - }
        - if (page + 1 < totalpages) {
            div.button #[a(href="/msgbase/" + conf + "/" + area + "?page=" + totalpages) #{totalpages}]
        - }
    - }

    - if (parseInt(page, 10) + 1 < totalpages) {
        div.button #[a(href="/msgbase/" + conf + "/" + area + "?page=" + (parseInt(page, 10) + 2)) Next]
    - }