extends layout.pug

block content
    h2 Oneliners
    center
        table
            thead
                tr 
                    th User 
                    th Said...
            tbody
                each item in data
                    tr
                        td #[span.olauthor #{item['author']}]
                        td !{item['line']}
