extends layout.pug

block content
    h2 Post a Message
    div.email-form
        form(method='POST' action='/msgbase/post')
            div.email-form-group
                label(for='recipient') Recipient
                - if (typeof(sender) !== 'undefined') {
                    input.form-control(type='text' id='recipient' placeholder='' name='recipient'  value=sender required)
                - } else {
                    - if (isnetmail === true) {
                        input.form-control(type='text' id='recipient' placeholder='' name='recipient' required)
                    - } else {
                        input.form-control(type='text' id='recipient' placeholder='' name='recipient' value='All' required)
                    - }
                - }
            div.email-form-group
                label(for='subject') Subject
                - if (typeof(subject) !== 'undefined') {
                    input.form-control(type='text' id='subject' placeholder='' name='subject'  value=subject required)
                - } else {
                    input.form-control(type='text' id='subject' placeholder='' name='subject' required)
                - }
            - if (isnetmail === true) {
                 div.email-form-group
                    label(for='dest') Address
                    - if (iswwiv === true) {
                        - if (typeof(dest) !== 'undefined' && dest != '0') {
                            input.form-control(type='text' id='dest' placeholder='' name='dest'  value=dest pattern="\\d{1,5}" required)
                        - } else {
                            input.form-control(type='text' id='dest' placeholder='' name='dest' pattern="\\d{1,5}" required)
                        - }
                    - } else {
                        - if (typeof(dest) !== 'undefined' && dest != '0') {
                            input.form-control(type='text' id='dest' placeholder='' name='dest'  value=dest pattern="\\d{1,5}:\\d{1,5}\\/\\d{1,5}\\.\\d{1,5}|\\d{1,5}:\\d{1,5}\\/\\d{1,5}" required)
                        - } else {
                            input.form-control(type='text' id='dest' placeholder='' name='dest' pattern="\\d{1,5}:\\d{1,5}\\/\\d{1,5}\\.\\d{1,5}|\\d{1,5}:\\d{1,5}\\/\\d{1,5}" required)
                        - }
                    - }
                    
            - }
            - if (typeof(reply) !== 'undefined') {
                input(type='hidden' name='reply' value=reply)
            - }

            - if (typeof(quote) !== 'undefined') {
                textarea(name="body" rows='25' cols='80') #{quote + "\n\n" + signature}
            - } else {
                textarea(name="body" rows='25' cols='80') #{"\n" + signature}
            - }
            input(type="hidden" name="area" value=area)
            input(type="hidden" name="conf" value=conf)
            div.email-form-submit
                button.btn.btn-primary(type='submit') Send
